* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #495057;
}

header {
    background-color: #D6D6D6;
    margin: 20px 20px;
}

@media (max-width: 767px) {
    header {
        background-color: transparent;
    }
}

.navbar-toggler {
    color: white;
}

.navbar-toggler-icon {
    background-color: #D6D6D6;
    opacity: 0.85;
}

.navbar-nav .nav-item.active .nav-link {
    background-color: #D6D6D6;
    opacity: 0.85;
}

.nav-link {
    color: black !important;
}

.headerBox .d-lg-flex .navegacionItem {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.headerBox .d-lg-flex .navegacionItem:first-child {
    border-left: none;
}

.headerBox .d-lg-flex .navegacionItem:last-child {
    border-right: none;
}

.bloqueDeColorRosa {
    background-color: pink;
    width: 512px;
    height: 512px;
}

footer {
    background-color: #252E38;
    height: 125px;
    width: 100%;
    display: inline-block;
}

.cajaDeContenidoDelFooter {
    margin: 20px 10px;
}

.textoDelFooter {
    color: #D6D6D6;
    font-size: 18px;
}

.qrAfip {
    margin: 10px 10px;
    width: 60px;
    height: 80px;
}

.logoEnFooter {
    margin: 10px 10px;
    width: 45px;
    height: 45px;
    align-items: end;
}

.imagenesAcompañantesDelParrafo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.imagenesAcompañantesDelParrafo img {
    margin: 0 10px;
}

.fotoDeLaCafetaria {
    margin: 10px 0;
}