* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #495057;
}

header {
    background-color: #D6D6D6; /* Color para versión de PC */
    margin: 20px 20px;
}

@media (max-width: 767px) {
    header {
        background-color: transparent; /* Color transparente para versión móvil */
    }
}

.navbar-toggler {
    color: white;
}

.navbar-toggler-icon {
    background-color: #D6D6D6;
    opacity: 0.85;
}

.navbar-nav .nav-item.active .nav-link {
    background-color: #D6D6D6;
    opacity: 0.85;
}

.nav-link {
    color: black !important;
}

.main-content {
    background-color: #D6D6D6;
    opacity: 0.85;
}

.navegacionItem {
    text-decoration: none;
    color: black;
}

.bloqueDeColorRosa {
    background-color: pink;
    width: 512px;
    height: 512px;
}
footer {
    background-color: #252E38;
    height: 125px;
    width: 100%;
    display: inline-block;
}

.cajaDeContenidoDelFooter {
    margin: 20px 10px;
}

.textoDelFooter {
    color: #D6D6D6;
    font-size: 18px;
}

.qrAfip {
    margin: 10px 10px;
    width: 60px;
    height: 80px;
}

.logoEnFooter {
    margin: 10px 10px;
    width: 45px;
    height: 45px;
    align-items: end;
}

.imagenesAcompañantesDelParrafo img,
.fotoDeLaCafetaria {
    margin: 10px 0;
}